<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" color="dark">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="shorts" color="dark">
      <ion-icon name="flash-outline"></ion-icon>
      Shorts
    </ion-tab-button>

    <ion-tab-button tab="add" color="dark">
      <ion-icon name="add-circle-outline" class="addbtn"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="subscription" color="dark">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      Subscription
    </ion-tab-button>
    <ion-tab-button tab="library" color="dark">
      <ion-icon name="library-outline"></ion-icon>
      Library
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
