.header {
  padding: 2%;
  vertical-align: baseline;

  ion-icon {
    font-size: x-large;
    padding-left: 10%;
  }

  .icons {
    text-align: right;
  }

  .profile {
    img {
      padding-left: 10%;
      width: 30px;
      height: 30px;
    }
  }
}

.videocard {
  margin: 0px;
  img {
    width: 100%;
    height: 100%;
  }

  ion-avatar {
    width: 36px;
    height: 36px;
  }

  .head {
    font-weight: 700;
    color: black;
    margin: 0px;
  }

  .subhead {
    font-size: smaller;
  }

  ion-icon {
    font-size: larger;
    margin-top: 10%;
    color: black;
  }
}

.hroscroll {
  overflow: auto;
  white-space: nowrap;

  .svideo {
    display: inline-block;
    width: 150px;
    height: 250px;
    margin-right: 15px;

    img {
      width: 150px;
      height: 250px;
    }

    .bottom {
      width: 150px;
      position: absolute;
      bottom: 5%;
      color: white;
      white-space: break-spaces;
      padding: 2%;
      font-size: x-small;

      p {
        width: 140px;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.shorts {
  margin-top: 10%;
  padding-left: 2%;
}
