.header {
  background: black;
  font-size: xx-large;
  color: white;
  height: 5vh;

  .h1 {
    ion-icon {
      margin: 5px;
    }
  }
}

ion-content {
  --background: black !important;
}
.shorts {
  img {
    width: 100%;
    height: 95vh;
  }
}

ion-col {
  padding: 0px;
}

ion-grid {
  padding: 0px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 5%;
  color: white;

  ion-avatar {
    margin: 10px 0px;
    width: 32px;
    height: 32px;
  }

  .sub {
    span {
      vertical-align: -webkit-baseline-middle;
      margin-right: 10px;
    }
  }

  .btm80 {
    position: absolute;
    bottom: 5%;
    width: 80%;
    padding-left: 5%;
  }

  .btns {
    position: absolute;
    bottom: 5%;
    right: 0%;
    text-align: center;
    ion-icon {
      font-size: x-large;
    }
    p {
      margin: 2px 0px;
    }
    ion-col {
      margin: 10px 0px;
    }
    ion-thumbnail {
      margin: 0px auto;
    }
  }
}
