<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="header">
      <ion-col size="5">
        <p class="back" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>Histroy
        </p>
      </ion-col>
      <ion-col offset="" class="icons">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-icon name="search"></ion-icon>
      </ion-col>
      <ion-col class="profile" size="1.5">
        <img src="assets/Ellipse1.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" offset="0.5">
        <ion-item lines="none">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input placeholder="Search watch history"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <hr height="1px" color="grey" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Today</p>
      </ion-col>
    </ion-row>
    <ion-row class="shorts">
      <ion-col size="12"> <img src="assets/shorts.png" /></ion-col>
      <ion-col size="12" class="hroscroll">
        <div class="svideo" *ngFor="let item of shorts" (click)="toShorts()">
          <img src="{{item.img}}" />
          <div class="bottom">
            <p>{{item.des}}</p>
            <p>{{item.view}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of vids" class="videos" (click)="toView()">
      <ion-col size="5" offset="0.2">
        <img src="{{item.img}}" />
        <div class="red"></div>
        <div class="timer">0: 50</div>
      </ion-col>
      <ion-col>
        <p>Compiltation | Everything Belongs to Allah 33 Mins | omar...</p>
        <p>Omar & Hana - Islamic</p>
        <p>5.5M views</p>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
